
body {
    font-family: Arial, sans-serif;
    background-color: #3c0c0c;
    color: #f8f1e5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 22px;
    background-color: #601313;
    padding: 5px;
    margin: 0; 
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 5px;
    border: 2px solid white;
}

#topbar-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#topbar-link:hover {
    text-decoration: none;
    color: white;
}

p.b {
    font-style: italic;
}